In [9]:
import pandas as pd
import json
import os
from tqdm import tqdm

folder_path = '/home/lab38/images/딸기_증강_라벨'

dirListing = os.listdir(folder_path)
result = pd.DataFrame()

for i,fileName in enumerate(tqdm(dirListing)):
    address = os.path.join(folder_path, fileName)   
    with open(address, 'r') as f:
        data = json.load(f)
        df1 = pd.json_normalize(data["description"])
        df2 = pd.json_normalize(data["annotations"])
        df3 = pd.concat([df1,df2], axis = 1, sort=True)
        result = result.append(df3)

result.drop(['date', 'worker', 'height', 'width', 'task', 'type', 'region','crop', 'risk'], axis=1, inplace=True)        
result.to_csv("/home/lab38/images/csv/딸기_증강_라벨.csv", index=False)

display(result.head())

100%|████████████████████████████████████| 18110/18110 [02:33<00:00, 117.79it/s]

,image,original,disease,area,grow,points
0,V006_77_1_08_04_03_13_1_3321w_20201120_17_a000...,V006_77_1_08_04_03_13_1_3321w_20201120_17.jpg,8,3,13,"[{'xtl': 1136, 'ytl': 556, 'xbr': 3860, 'ybr':..."
0,V006_77_1_07_04_02_13_2_3248b_20201118_5_a0004...,V006_77_1_07_04_02_13_2_3248b_20201118_5.jpg,7,2,13,"[{'xtl': 421, 'ytl': 709, 'xbr': 873, 'ybr': 1..."
0,V006_77_1_07_04_02_13_1_4660w_20210104_125_a00...,V006_77_1_07_04_02_13_1_4660w_20210104_125.jpg,7,2,13,"[{'xtl': 1641, 'ytl': 196, 'xbr': 2917, 'ybr':..."
0,V006_77_1_07_04_02_13_1_4660w_20210104_124_a00...,V006_77_1_07_04_02_13_1_4660w_20210104_124.jpg,7,2,13,"[{'xtl': 572, 'ytl': 1449, 'xbr': 1635, 'ybr':..."
0,V006_77_1_07_04_02_13_3_1886w_20201223_70_a000...,V006_77_1_07_04_02_13_3_1886w_20201223_70.jpg,7,2,13,"[{'xtl': 838, 'ytl': 119, 'xbr': 2892, 'ybr': ..."

In [10]:
from tqdm.auto import tqdm

folder_path = '/home/lab38/images/상추_증강_라벨'

dirListing = os.listdir(folder_path)
result = pd.DataFrame()

for i,fileName in enumerate(tqdm(dirListing)):
    address = os.path.join(folder_path, fileName)   
    with open(address, 'r') as f:
        data = json.load(f)
        df1 = pd.json_normalize(data["description"])
        df2 = pd.json_normalize(data["annotations"])
        df3 = pd.concat([df1,df2], axis = 1, sort=True)
        result = result.append(df3)

result.drop(['date', 'worker', 'height', 'width', 'task', 'type', 'region','crop', 'risk'], axis=1, inplace=True)        
result.to_csv("/home/lab38/images/csv/상추_증강_라벨.csv", index=False)

display(result.head())

100%|█████████████████████████████████████| 29610/29610 [05:34<00:00, 88.47it/s]

,image,original,disease,area,grow,points
0,V006_77_1_09_05_03_12_3_0149e_20201028_3_a0008...,V006_77_1_09_05_03_12_3_0149e_20201028_3.jpeg,9,3,12,"[{'xtl': 1112, 'ytl': 0, 'xbr': 2895, 'ybr': 2..."
0,V006_77_1_09_05_03_12_3_0517e_20201014_33_a000...,V006_77_1_09_05_03_12_3_0517e_20201014_33.jpg,9,3,12,"[{'xtl': 1567, 'ytl': 624, 'xbr': 2872, 'ybr':..."
0,V006_77_1_09_05_03_12_2_0517e_20201021_33_a000...,V006_77_1_09_05_03_12_2_0517e_20201021_33.jpg,9,3,12,"[{'xtl': 87, 'ytl': 339, 'xbr': 2320, 'ybr': 2..."
0,V006_77_1_10_05_03_12_2_6855e_20201210_78_a000...,V006_77_1_10_05_03_12_2_6855e_20201210_78.jpeg,10,3,12,"[{'xtl': 31, 'ytl': 355, 'xbr': 2883, 'ybr': 2..."
0,V006_77_1_09_05_03_12_3_0517e_20201110_30_a000...,V006_77_1_09_05_03_12_3_0517e_20201110_30.jpeg,9,3,12,"[{'xtl': 1240, 'ytl': 294, 'xbr': 3317, 'ybr':..."