In [12]:
import pandas as pd
import os
import shutil
import matplotlib.pyplot as plt
import cv2
from tqdm.auto import tqdm

상추

In [13]:
df = pd.read_csv('/home/lab38/images/csv/down_sampled_lettuce.csv')
df.head()

,image,disease,area,grow,points,original,disease-grow
0,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 2034, 'ytl': 1153, 'xbr': 2436, 'ybr'...",NaN,0-11
1,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1513, 'ytl': 676, 'xbr': 2325, 'ybr':...",NaN,0-11
2,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1272, 'ytl': 1220, 'xbr': 2229, 'ybr'...",NaN,0-11
3,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1723, 'ytl': 1388, 'xbr': 2514, 'ybr'...",NaN,0-11
4,/home/lab38/images/상추_정상/V006_77_0_00_05_03_11...,0,3,11,"[{'xtl': 1200, 'ytl': 681, 'xbr': 1816, 'ybr':...",NaN,0-11

In [14]:
folder_dir = '/home/lab38/상추'
for from_dir in tqdm(df['image']):
    f_name = from_dir.split('/')[-1]
    img = plt.imread(from_dir)
    img = cv2.resize(img, dsize=(320,320))
    plt.imsave(os.path.join(folder_dir, f_name), img)

100%|███████████████████████████████████████| 5707/5707 [19:40<00:00,  4.83it/s]

In [15]:
df['image'] = df['image'].str.split('/', 0)
df['image'] = df['image'].map(lambda x: x[-1])
df['image'] = df['image'].map(lambda x: os.path.join(folder_dir, x))
df.head()

,image,disease,area,grow,points,original,disease-grow
0,/home/lab38/상추/V006_77_0_00_05_03_11_0_b04_202...,0,3,11,"[{'xtl': 2034, 'ytl': 1153, 'xbr': 2436, 'ybr'...",NaN,0-11
1,/home/lab38/상추/V006_77_0_00_05_03_11_0_b04_202...,0,3,11,"[{'xtl': 1513, 'ytl': 676, 'xbr': 2325, 'ybr':...",NaN,0-11
2,/home/lab38/상추/V006_77_0_00_05_03_11_0_b04_202...,0,3,11,"[{'xtl': 1272, 'ytl': 1220, 'xbr': 2229, 'ybr'...",NaN,0-11
3,/home/lab38/상추/V006_77_0_00_05_03_11_0_b04_202...,0,3,11,"[{'xtl': 1723, 'ytl': 1388, 'xbr': 2514, 'ybr'...",NaN,0-11
4,/home/lab38/상추/V006_77_0_00_05_03_11_0_b04_202...,0,3,11,"[{'xtl': 1200, 'ytl': 681, 'xbr': 1816, 'ybr':...",NaN,0-11

In [16]:
df.to_csv('/home/lab38/Multi_proj_6/data/lettuce_smallsizeimg.csv', index=False)

In [10]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

딸기

In [4]:
df = pd.read_csv('/home/lab38/images/csv/down_sampled_strawberry.csv')
df.head()

,image,disease,area,grow,points,original,disease-grow
0,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'...",NaN,0-5
1,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'...",NaN,0-5
2,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ...",NaN,0-5
3,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 739, 'ytl': 1184, 'xbr': 2176, 'ybr':...",NaN,0-5
4,/home/lab38/images/딸기_정상/V006_77_0_00_04_01_13...,0,1,5,"[{'xtl': 1031, 'ytl': 1271, 'xbr': 2425, 'ybr'...",NaN,0-5

In [5]:
folder_dir = '/home/lab38/딸기'
for from_dir in tqdm(df['image']):
    f_name = from_dir.split('/')[-1]
    img = plt.imread(from_dir)
    img = cv2.resize(img, dsize=(320,320))
    plt.imsave(os.path.join(folder_dir, f_name), img)

100%|█████████████████████████████████████| 16614/16614 [48:30<00:00,  5.71it/s]

In [7]:
df['image'] = df['image'].str.split('/', 0)
df['image'] = df['image'].map(lambda x: x[-1])
df.head()

,image,disease,area,grow,points,original,disease-grow
0,V006_77_0_00_04_01_13_0_b02_20201203_0000_S01_...,0,1,5,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'...",NaN,0-5
1,V006_77_0_00_04_01_13_0_b02_20201203_0002_S01_...,0,1,5,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'...",NaN,0-5
2,V006_77_0_00_04_01_13_0_b02_20201203_0004_S01_...,0,1,5,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ...",NaN,0-5
3,V006_77_0_00_04_01_13_0_b02_20201203_0005_S01_...,0,1,5,"[{'xtl': 739, 'ytl': 1184, 'xbr': 2176, 'ybr':...",NaN,0-5
4,V006_77_0_00_04_01_13_0_b02_20201203_0007_S01_...,0,1,5,"[{'xtl': 1031, 'ytl': 1271, 'xbr': 2425, 'ybr'...",NaN,0-5

In [8]:
df['image'] = df['image'].map(lambda x: os.path.join(folder_dir, x))
df.head()

,image,disease,area,grow,points,original,disease-grow
0,/home/lab38/딸기/V006_77_0_00_04_01_13_0_b02_202...,0,1,5,"[{'xtl': 1003, 'ytl': 1167, 'xbr': 2255, 'ybr'...",NaN,0-5
1,/home/lab38/딸기/V006_77_0_00_04_01_13_0_b02_202...,0,1,5,"[{'xtl': 1003, 'ytl': 1217, 'xbr': 2503, 'ybr'...",NaN,0-5
2,/home/lab38/딸기/V006_77_0_00_04_01_13_0_b02_202...,0,1,5,"[{'xtl': 370, 'ytl': 884, 'xbr': 1994, 'ybr': ...",NaN,0-5
3,/home/lab38/딸기/V006_77_0_00_04_01_13_0_b02_202...,0,1,5,"[{'xtl': 739, 'ytl': 1184, 'xbr': 2176, 'ybr':...",NaN,0-5
4,/home/lab38/딸기/V006_77_0_00_04_01_13_0_b02_202...,0,1,5,"[{'xtl': 1031, 'ytl': 1271, 'xbr': 2425, 'ybr'...",NaN,0-5

In [9]:
df.to_csv('/home/lab38/Multi_proj_6/data/strawberry_smallsizeimg.csv', index=False)